<%- include("partials/header") %>
    <%-include("partials/nav")%>

        <h1 class="text-center">Profile Page</h1>
        <button>
            <a href="/user/logout">
                Logout
            </a>
        </button>

            <ul>
                <% posts.forEach((elem)=>{%>
                    <li>
                        <h1>Post <%= elem.title %>
                        </h1>
                        <img src="<%=elem.media.thumbnailUrl%>" alt="">
                        <a href="/post/like/<%=elem._id%>">
                            <%= elem.likes.length%>
                            like
                        </a>
                    </li>
                 <%   })%>
            </ul>

            <%- include("partials/footer") %>